################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Afiliado/.vs/Afiliado/FileContentIndex/02d7c4f0-060f-4c32-a469-45a72b2d164f.vsidx
/Afiliado/.vs/Afiliado/FileContentIndex
/Afiliado/obj/Debug/net8.0/Afiliado.AssemblyInfoInputs.cache
/Afiliado/obj/Debug/net8.0/Afiliado.assets.cache
/Afiliado/obj/Debug/net8.0/Afiliado.AssemblyInfo.cs
/Afiliado/obj/Debug/net8.0/Afiliado.csproj.CoreCompileInputs.cache
/Afiliado/obj/Debug/net8.0/Afiliado.csproj.FileListAbsolute.txt
/Afiliado/obj/Debug/net8.0/Afiliado.GeneratedMSBuildEditorConfig.editorconfig
/Afiliado/obj/Debug/net8.0/Afiliado.sourcelink.json
/Afiliado/obj/Debug/net8.0/project.razor.vs.bin
/Afiliado/obj/Debug/net8.0/Afiliado.csproj.AssemblyReference.cache
/Afiliado/obj/Afiliado.csproj.nuget.g.props
/Afiliado/obj/project.assets.json
/Afiliado/obj/project.nuget.cache
/Afiliado/obj/Afiliado.csproj.nuget.dgspec.json
/Afiliado/.vs/Afiliado/v17/.suo
/Afiliado/.vs/Afiliado/DesignTimeBuild/.dtbcache.v2
/.vs/Human-Learning-Cirsa/config/applicationhost.config
/.vs/Human-Learning-Cirsa/FileContentIndex/06d47ab7-b6c3-44f2-a7d0-e4c82590b7e8.vsidx
/.vs/Human-Learning-Cirsa/FileContentIndex/8fef3d10-dd44-4642-99bd-e8f5b3b33bf7.vsidx
/.vs/Human-Learning-Cirsa/FileContentIndex/660b3508-9bb7-42b3-9c28-3f2e1d4a7967.vsidx
/.vs/Human-Learning-Cirsa/FileContentIndex/bb37e816-aad2-4506-ac3d-e1993e83e628.vsidx
