################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Afiliado/.vs/Afiliado/FileContentIndex/02d7c4f0-060f-4c32-a469-45a72b2d164f.vsidx
/Afiliado/.vs/Afiliado/FileContentIndex
