################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Afiliado/.vs/Afiliado/FileContentIndex/02d7c4f0-060f-4c32-a469-45a72b2d164f.vsidx
/Afiliado/.vs/Afiliado/FileContentIndex
/Afiliado/obj/Debug/net8.0/Afiliado.AssemblyInfoInputs.cache
/Afiliado/obj/Debug/net8.0/Afiliado.assets.cache
/Afiliado/obj/Debug/net8.0/Afiliado.AssemblyInfo.cs
/Afiliado/obj/Debug/net8.0/Afiliado.csproj.CoreCompileInputs.cache
/Afiliado/obj/Debug/net8.0/Afiliado.csproj.FileListAbsolute.txt
/Afiliado/obj/Debug/net8.0/Afiliado.GeneratedMSBuildEditorConfig.editorconfig
/Afiliado/obj/Debug/net8.0/Afiliado.sourcelink.json
/Afiliado/obj/Debug/net8.0/project.razor.vs.bin
/Afiliado/obj/Debug/net8.0/Afiliado.csproj.AssemblyReference.cache
/Afiliado/obj/Afiliado.csproj.nuget.g.props
/Afiliado/obj/project.assets.json
/Afiliado/obj/project.nuget.cache
/Afiliado/obj/Afiliado.csproj.nuget.dgspec.json
/Afiliado/.vs/Afiliado/v17/.suo
/Afiliado/.vs/Afiliado/DesignTimeBuild/.dtbcache.v2
